* {
    font-family: Tizen, Helvetica;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}

html, body
{
    height: 100%;
}

body {
    color: #fff;
    position: relative;
    background-color: transparent;
}

#arrow-up {
    position: absolute;
    top: 5px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #222;
    margin-left: -7px;
}

#arrow-down {
    position: absolute;
    bottom: 0;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #222;
    margin-left: -7px;
}

#wrapper {
    background-color: #000;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 5px;
    bottom: 0;
    border-radius: 4px;
}

ul {
    list-style: none;
    margin: 0;
    /*margin-left: -75px;*/
    padding: 0;
}

li {
    float: left;
    width: 180px;
    height: 120px;
    display: block;
    margin: 10px 5px;
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-sizing: border-box;
}

li.active {
    box-shadow: 0 0 8px #0079B8;
    border: 1px solid #0079B8;
}

#bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-right: 70px;
}

#owner {
    color: #ddd;
}

#reload {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 24px;
    height: 24px;
}

.reload-rotate {
    -webkit-animation-name: reloadRotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes reloadRotate
{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

#dailymotion {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
}
