* {
    font-family: Tizen, Helvetica;
}

html, body
{
	height: 100%;
}

body
{
    margin: 0;
}

#iframeDaily
{
    width: 100%;
    height: 100%;
    border: none;
}

#spinner
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: 20px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;

    background-image: url(../images/ajax-loader.png);
    background-size: cover;

    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate
{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

#cover
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;
    opacity: 1;

    background: -webkit-radial-gradient(#106CA5, #0A4D75);
    -webkit-transition: -webkit-transform 500ms ease-in-out;

    text-align: center;
    line-height: 100%;
}

#cover.off
{
    -webkit-transform: translate3d(0,-100%,0);
}

#cover:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/DailymotionAppIcon.png);
    background-repeat: no-repeat;
    background-position: 50% 40%;
}
