* {
    font-family: Tizen, Helvetica;
}

html, body
{
	height: 100%;
}

body
{
    margin: 0px auto;
}

#iframeDaily
{}

#iframeContainer
{}

.buttonbar
{
	position: fixed;
	height: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: #f8f6ef;
    color: #3b73b6;
    font-weight: 700;
    font-size: 1.2727272727273rem;
    line-height: 50px;
    -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0, 0.05);
}

.button
{
	display: inline-block;
	position: relative;
}
.button.disabled
{
	opacity: 0.25;
}

.button.back
{
	width: 24px;
	height: 24px;
	background-image: url(../images/00_button_back.png);
	background-size: cover;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}
.button.back:active
{
	background-image: url(../images/00_button_back_press.png);
}
.button.back.disabled:active
{
    background-image: url(../images/00_button_back.png);
}